secrets.yaml
*.db
*.db-*
.storage/
!.storage/lovelace*
.cloud/
.google.token
tts/
.HA_VERSION
custom_components/
.shopping_list.json
.sonoff.json
.ha_run.lock
home-assistant.log.fault
promtail/
deps/
tmp/
tts/
www/
.cache/
*.log
